

.contact-us {
    background-color: #E5E5E5;
    border-top: 1px solid #D0D0D0;
    padding-top: 50px;
    padding-bottom: 60px
}


.center {
     margin-left: auto;
     margin-right: auto;
 }
 .center.navbar .nav,
 .center.navbar .nav > li {
     float:none;
     display:inline-block;
     *display:inline; /* ie7 fix */
     *zoom:1; /* hasLayout ie7 trigger */
     vertical-align: top;
 }
 .center.navbar-inner {
     text-align:center;
 }
 .center .dropdown-menu {
     text-align: left;
 }
 .navbar-inner {
     margin: 0 auto;
 }

.lower-extra-text
{
    margin-bottom: 30px;
}

<!-- Centered Nav Bar -->
.header_nav_wrapper {
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 9997;
    width: 100%;
    color: black;
}

.header_nav_wrapper ul {
    display:inline-block;
    list-style:none; 
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header_nav_wrapper li {
    display:list-item;
    float: left;
    text-align: center;
}

.header_nav_wrapper li a {    
    color: white;
    text-align: center;
}

.header_nav_wrapper a img {    
    display: block;
    text-align: center;
}

.header_nav {
    display: inline-block;
    text-align: center;
}

.header_nav .nav_left_side {
    float: left;
    text-align: center;
    display: block;
    padding: 0 1.25rem;
}

.header_nav .nav_right_side {
    float: left;
    text-align: center;
    display: block;
    padding: 0 1.25rem;
}

.header_nav a {
    float: left;
    text-align: center;
    display: block;
    margin-top: 2.4rem;
    height: 3.6rem;
    width: 12rem;
}
.return-title {
    color: white;
    font-weight: 100;
    font-size: 4.0em;
}

.return-subtitle {
    color: white;
    font-weight 200;
    font-size: 1.5em;
}

.return-page-background {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    box-sizing: content-box;
    
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./content/img/return_page_2.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./content/img/return_page_2.jpg', sizingMethod='scale')";
}


.remove-padding {
    padding-left: 0;
    padding-right: 0;
}

.read-more-button {
    border: 1px solid black;
    height: 50px;
    width: 150px;
    display: inline-block;
    padding-top: 13px;
    padding-bottom: 13px;
    font-weight: 600;     
    cursor: auto;
    background-color: white;
}

.back-to-home-button {
    border: 1px solid white;
    height: 20px;
    width: 200px;
    display: inline-block;
    color: white;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-top: 50px;
    font-weight: 600;     
    cursor: auto;
    background-color: transparent;
}

.read-more-button:hover {
    border: 1px solid white;
    background-color: #29d;
    color: white;
}

.back-to-home-button:hover {
    border: 1px solid white;
    background-color: #29d;
    color: white;
}

.blog-image {
    height: 200px;
    width: 300px;
}

.extra-image {
    height: 140px;
    width: 210px;
}

.delivery-icon {
    height: 100px;
    width: 100px;
}

.introduction {
    width: 100%;
    background-color: #e3e3e3;
    color: #111;
    display:block;
    text-align: center;
    padding: 40px;
    font-size: 1.1sem;
}

.extras-button {
    width: 100%;
    background-color: #64cbfb;
    color: white;
    display:block;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 1.6em;
    box-sizing: content-box;
}

.extras-button:hover {
    background-color: #29f;
    color: white;
}

.sub-page-title {
    color: white;
    background-color: #6BCAFF;
    background-size: cover;
    -moz-background-size: cover;
    background-position: center;
    text-align: center;
    height: 400px;
    padding-top: 140px;
}

.contact-header-image {
    background-image: url(img/contact-us.jpg);
}

.corporate-events-header-image {
    background-image: url(img/corporate.jpg);
}

.delivery-header-image {
    background-image: url(img/delivery.jpg);
}

.extras-header-image {
    background-image: url(img/extras.jpg);
}

.parties-header-image {
    background-image: url(img/parties.jpg);
}

.terms-header-image {
    background-image: url(img/terms.jpg);
}

.weddings-header-image {
    background-image: url(img/weddings.jpg);
}

.sub-page-title h1 {
    font-weight: 300;    
}

iOSblur
{
    -webkit-filter: blur(12px);
    -moz-filter: blur(12px);
    -o-filter: blur(12x);
    -ms-filter: blur(12px);
    filter: blur(12px);
}

.sample-extra-image {
    display:inline-block;
    height: 400px;
    background-color: white;
    width: 100%;
    padding: 50px;
    object-fit: cover;
    overflow: hidden;
}

.ie .sample-extra-image {
    width: auto;
    object-fit: cover;
    overflow: hidden;
}

.sample-extra-text {
    display:inline-block;
    height: 400px;
    padding: 20px;
    background-color: white;
    clip: auto;
}

.sample-extra-text h3 {
    font-weight: 300;
    font-size: 1.6em;
    color: #29d;
}

.sample-extra-text span {
    font-weight: normal;
    font-size: 1.2em;
}

.fuel-table .visible-sm {
    margin-top:50px;
}

.fuel-table .visible-md {
    margin-top:100px;
}

.fuel-table .visible-lg {
    margin-top:200px;
}

.disclaimer-text {
    font-size: 0.9em;
    color: darkgrey;
}

.number-term {
    font-weight: bold;
    font-size-adjust: 1.2em;
}
.login-input {
    width: 300px;
    height: 50px;
    text-align: center;
    font-size: 1.5em;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    border:solid 1px white;
    color: white;
}

.login-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
}
.login-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
}
.login-input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  1;
}
.login-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
}

<!-- ViewPort fix for MS -->
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }



#keyword {
  -webkit-animation-duration: 0.75s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  -ms-animation-duration:  0.75s;
  -ms-animation-delay: 0s;
  -ms-animation-iteration-count: 1;
}

.title-text-left {
    text-align: right;
}

.title-text-right {
    text-align: left;
}

.navbar-padding {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.modal-body h4 {
    color: #29d;
}

.package-cost {
    font-weight: 400;
    font-size: 2em;
}

.accent
{
    background-color: #29d;
    color: white;
}

#logo {
    height: 60px;
    margin-top: -20px;
    margin-left: 25px;
}

.navbar a{
    color: RGB(255, 255, 255);
    font-weight: 600;
}

.bx-wrapper img {
    margin: 0 auto;
}

html {
    overflow: auto
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    overflow: hidden !important;
}

h1 {
    font-size: 3.143em;
    font-weight: 800;
}

h2 {
    font-size: 1.429em;
}

h3 {
    font-size: 1.214em;
}

h4 {
    font-size: 1.071em
}

p {
    line-height: 2em
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #000;
}

.preload {
    width: 0px;
    height: 0px;
}
.pre-coverone {
    background: url(./img/cover.jpg) no-repeat -9999px -9999px;
}
.pre-covertwo {
    background: url(./img/cover1.jpg) no-repeat -9999px -9999px;
}
.pre-coverthree {
    background: url(./img/cover2.jpg) no-repeat -9999px -9999px;
}

.coverone {
    background-image: url(./img/cover.jpg);
    background-size: cover;
    -moz-background-size: cover;
    background-position: center;
}
.covertwo {
    background-image: url(./img/cover1.jpg);
    background-size: cover;
    -moz-background-size: cover;
    background-position: center;
}
.coverthree {
    background-image: url(./img/cover2.jpg);
    background-size: cover;
    -moz-background-size: cover;
    background-position: center;
} 

.ie8 .coverone {
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='/content/img/cover.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='content/img/cover.jpg', sizingMethod='scale')";
}
.ie8 .coverone {
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='/content/img/cover1.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='content/img/cover1.jpg', sizingMethod='scale')";
}
.ie8 .coverone {
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='/content/img/cover2.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='content/img/cover2.jpg', sizingMethod='scale')";
}

/*.no-csstransitions */.bkg {   
    background-color: white;
    position: relative;
    min-height: 70vh;
    border-bottom: 10px solid #e3e3e3
}

.col-centered {
    float: none;
    margin: 0 auto
}

.divider {
    background-color: #29d;
    height: 2px;
    width: 80px;
    margin: 30px auto
}


.cssanimations .fadeIn {
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s
}

.intro {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    max-width: 100%;
    color: #FF5252
}

.text-center-to-left {
    text-align: center
}

.color-primary {
    color: #FF5252
}

.uppercase {
    text-transform: uppercase
}

.extra-subsection {
    background-color: #29d;
    color: white;
    padding: 5px;
}

.nav button {
    margin-left: 15px;
    margin-right: 15px;
}

.top.active {
    -webkit-transform: translateY(9px) translateX(0) rotate(45deg);
    -ms-transform: translateY(9px) translateX(0) rotate(45deg);
    transform: translateY(9px) translateX(0) rotate(45deg);
    background: #FFF
}

.middle.active {
    opacity: 0;
    background: #FFF
}

.bottom.active {
    -ms-transform: translateY(-9px) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(-9px) translateX(0) rotate(-45deg);
    tranform: translateY(-9px) translateX(0) rotate(-45deg);
    background: #FFF
}

.remove-right-padding
{
    padding-right: 0;
}

#title {
    color: #FFF;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    font-family: 'Merriweather Sans', sans-serif;
}

#supra {
    color: #FFF;
    font-size: 1.214em
}

#sub {
    color: #FFF;
    font-size: 1.214em;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s
}

#btn-intro {
    border: 2px solid #29d;
    color: #FFF;
    padding: 15px 20px;
    margin-top: 40px;
    -webkit-transition: .35s;
    transition: .35s;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s
}

.divider-intro {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    background-color: #FF5252
}

.divider-small {
    background-color: #29d;
    height: 2px;
    width: 40px;
    margin: auto auto 20px
}

.divider-white {
    background-color: white;
    height: 2px;
    width: 40px;
    margin: auto auto 20px
}

.packages {    
    padding-top: 30px;
    padding-bottom: 60px;
    text-align: center;
    background-color: white
}

.packages th {
    text-align: center;
}

.packages h4 {
    display: block;
    background-color: darkgrey;
    color: white;
    height: 40px;
    font-size: large;
    font-weight:400;
    padding-top: 10px;
}

.packages ul {
    padding: 0;
}

.packages ul li {
    list-style: none;
    text-decoration: none;
}

#popular {
    background-color: #29d;
}

.card {
    margin-left: 10px;
    margin-right: 10px;
}

.package-header-text {
    display:block;
    width: 100%;
    text-align: center;
    background-color: #29d;
    color: white;
    font-weight: 500;
    font-size: 1em;
    padding: 40px;
    margin: 0;
}

.quote {
    font-size: 1.4em;
}

.product-item-detail {
    font-size: small;
    color: darkgrey;
}

.extras {
    padding-top: 30px;
    padding-bottom: 60px;
    text-align: center;
    background-color: white
}

.expertise {    
    padding-top: 30px;
    padding-bottom: 60px;
    text-align: center;
    background-color: white
}

.extras h3 {
    
}

.extras p {
    margin-bottom:30px;
}

.expertise p {
    padding-bottom: 20px
}

.expertise img {
    margin-bottom: 10px
}

.follow-us {
    padding-top: 30px;
    padding-bottom: 60px;
    text-align: center;
    color: white;
    background-color: #29d;
}


.intro-lg {
    text-align: center;
    padding-top: 275px;
    padding-bottom: 250px;
    min-height: 70vh;
}

.about-us {
    background-color: #F5F5F5;
    border-top: 1px solid #E0E0E0;
    padding-top: 50px;
    padding-bottom: 60px
}

.about {
    padding-bottom: 40px;
    border-bottom: 1px solid #E0E0E0;
    text-align: center
}

.about-logo {
    max-height: 150px
}

.colophon {
    padding-top: 40px;
    padding-bottom: 60px;
    margin-bottom: 60px;
    border-bottom: 1px solid #E0E0E0
}

.about p {
    text-align: left
}

.about a {
    font-weight: 700;
    color: #FF5252;
    -webkit-transition: .3s;
    transition: .3s;
    padding-bottom: 2px;
    position: relative
}

.about a:after {
    background: #FF5252;
    content: '';
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.about a:hover:after {
    width: 100%
}

.about a:active, .about a:focus, .about a:hover {
    text-decoration: none
}

.input-group-lg {
    margin: 50px 0;
    font-size: .786em
}

textarea {
    height: 200px !important
}

.social a {
    color: #b8b8b8;
    opacity: .8;
    -webkit-transition: .35s;
    transition: .35s
}

.social a:hover {
    opacity: 1
}

.social-twitter {
    color: #000;    
}

.social-facebook {
    color: #000;
}

.social-soundcloud {
    color: #000;
}

.social-instagram {
    color: #000;
}

.social-twitter:hover {
    color: #00aced
}

.social-facebook:hover {
    color: #3b5998
}

.social-instagram:hover {
    color: #517fa4
}

.social-mail:hover {
    color: #FF5252
}

.social-soundcloud:hover {
    color: #FF7700
}

.fa-circle {
    color: grey; 
}

.social-wrapper {
    background-color: #F4F4F4;
}

.send-event-details input {
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #333;
    border-radius: 0px;
}

.send-event-details select {
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #333;
    border-radius: 0px;
}

.contact-sub-header {
    background-color: #29d;
    color: white;
    text-align: center;
    height: 40px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.call-to-action {
    width: auto;
    color: white;
    background-image: url(./img/call-to-action.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 25px;
}

.call-to-action h2 {
    font-size: 2.0em;
    font-weight: 600;
}

.contact-us-button {
    border: 2px solid white;
    height: 50px;
    width: 150px;
    display: inline-block;
    padding-top: 13px;
    padding-bottom: 13px;
    font-weight: 600;     
    cursor: auto;
    color: white;
}

.contact-us-button:hover {
    border: 1px solid white;
    background-color: #29d;
    color: white;
}

.contact-sub-header-sub {
    font-weight: 600;
    margin: 10px;
}

ul.extras-list > li { display: block; height: 25px; padding-left: 50px; padding-right: 50px;}
ul.extras-list > li > div.item-name { float: left }
ul.extras-list > li > div.item-cost { float: right }

@media(max-width:768px) {   
    
    .title-text-left {
        text-align: center;
    }

    .title-text-right {
        text-align: center;
    }
    
    .remove-right-padding {
        padding-right: 15px;
    }
    
    .wide-menu {
        visibility: hidden;
    }
    
    .navbar-menu {
        visibility: visible;
    }
    
    .intro-lg {
        padding-top: 150px;
        padding-bottom: 250px;
    }

    .call-to-action h2 {
        font-size: 1.5em;
    }
}

@media(min-width:768px) {
    h1 {
        font-size: 3.571em
    }

    h2 {
        font-size: 1.571em
    }

    .text-center-to-left {
        text-align: left
    }
    
    .title-text-left {
        text-align: right;
    }

    .title-text-right {
        text-align: left;
    }
    
    .button-container {
        height: 27px;
        width: 35px;
        top: 3%;
        left: 2%
    }

    .button-container span {
        height: 5px
    }

    .button-container span:nth-of-type(2) {
        top: 11px
    }

    .button-container span:nth-of-type(3) {
        top: 22px
    }

    .top.active {
        -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
        -ms-transform: translateY(11px) translateX(0) rotate(45deg);
        transform: translateY(11px) translateX(0) rotate(45deg);
        background: #FFF
    }

    .bottom.active {
        -ms-transform: translateY(-11px) translateX(0) rotate(-45deg);
        -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
        transform: translateY(-11px) translateX(0) rotate(-45deg);
        background: #FFF
    }
    
    .navbar-menu {
        visibility: collapse; 
        height: 0px;
        min-height: 0px;
    }
}

@media(min-width:992px) {
    .about-logo {
        max-height: 180px
    }

    .portfolio, .resume {
        padding-top: 20px
    }
}

@media(min-width:1200px) {
    h1 {
        font-size: 5.357em
    }

    h2 {
        font-size: 1.786em
    }

    h3 {
        font-size: 1.571em
    }

    .about-logo {
        max-height: 100%
    }

    .overlay nav {
        height: 70%;
        font-size: 50px
    }

    .overlay nav ul li {
        display: block;
        height: 20%;
        height: -webkit-calc(100% / 5);
        height: calc(100% / 5);
        min-height: 50px;
        position: relative;
        opacity: 1;
    }

    .overlay nav ul li a:after {
        height: 4px
    }
}

<!-- PACE Theme -->
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
