.navbar {
  background: 0;
  height: 60px;
  width: 100%;
}

.button {
  position: absolute;
  top: calc(50% - 11px);
  left: 4%;
  height: 22px;
  width: 30px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: opacity .25s ease;
          transition: opacity .25s ease;
  z-index: 200;
}
.button.active .top {
  -webkit-transform: translateY(9px) translateX(0) rotate(45deg);
      -ms-transform: translateY(9px) translateX(0) rotate(45deg);
          transform: translateY(9px) translateX(0) rotate(45deg);
  background: #fff;
}
.button.active .middle_1 {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  background: #fff;
}
.button.active .middle_2 {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  background: #fff;
}
.button.active .bottom {
  -webkit-transform: translateY(-9px) translateX(0) rotate(-45deg);
      -ms-transform: translateY(-9px) translateX(0) rotate(-45deg);
          transform: translateY(-9px) translateX(0) rotate(-45deg);
  background: #fff;
  background: #fff;
}
.button:hover {
  opacity: .7;
}
.button span {
  background: #29d;
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  -webkit-transition: all .35s ease;
          transition: all .35s ease;
}
.button span:nth-of-type(2) {
  top: 9px;
  left: -50%;
}
.button span:nth-of-type(3) {
  top: 9px;
  left: 50%;
}
.button span:nth-of-type(4) {
  top: 18px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  opacity: 0;
  background: #29d;
  border-radius: 5px;
  -webkit-transition: opacity .35s ease, visibility .35s ease, width .35s ease;
          transition: opacity .35s ease, visibility .35s ease, width .35s ease;
  visibility: hidden;
  z-index: 100;
}
.overlay.open {
  opacity: 0.95;
  visibility: visible;
  width: 100%;
}
.overlay.open li {
  -webkit-animation: menuFade .5s ease forwards;
          animation: menuFade .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}
.overlay nav {
  position: relative;
  height: 80%;
  top: 50%;
  -webkit-transform: translateY(-40%);
      -ms-transform: translateY(-40%);
          transform: translateY(-40%);
  font-size: 34px;
  font-weight: 200;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 34px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #fff;
  -webkit-transition: .35s;
          transition: .35s;
}

@-webkit-keyframes menuFade {
  0% {
    opacity: 0;
    left: -25%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes menuFade {
  0% {
    opacity: 0;
    left: -25%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
